.box-light {
    border: 1px black solid;
    height: 300px;
    min-width: 300px;
    max-width: 600px;
}

.panel-dark {
    color: white;
}

.box-dark {
    border: 1px white solid;
    height: 300px;
    min-width: 300px;
    max-width: 600px;
    background-color: rgb(23, 32, 42);
}

.Btn-dark{
    border: 1px white solid;
    background-color: black;
    color: white;
}